<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card class="mt-3">
                    <mat-card-content>
                        <mat-card-title class="text-center">Welcome to the Examportal.</mat-card-title>
                        <h3 class="mt-3">
                            <p>
                                Here you can give various types of quizes on various category
                            </p>
                            <p>
                                Exams Portal is a software solution enabling all institutions to easily and safely
                                publish and distribute
                                exams and related reports to the cloud, for an online access and review by students,
                                referring
                                teachers or other authorized users.
                            </p>

                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>