<mat-card>
    <h1>Add New Quiz</h1>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form  (ngSubmit)="AddQuiz()">

                    <mat-form-field appearance="outline" class="w100">
                        <mat-label>Title</mat-label>
                        <input required name="title" matInput placeholder="Enter category title" ngModel [(ngModel)]="QuizData.title">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w100">
                        <mat-label>Description</mat-label>
                        <textarea name="description" matInput rows="6" placeholder="Enter Description" [(ngModel)]="QuizData.description"></textarea>
                    </mat-form-field>


                    <div class="row">
                        <div class="col-md-6">

                            <mat-form-field appearance="outline" class="w100">
                                <mat-label>Maximum Marks</mat-label>
                                <input type="number" required name="maxMarks" matInput placeholder="Enter maxMarks" [(ngModel)]="QuizData.maxMarks">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>


                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w100">
                                <mat-label>No. of Questions</mat-label>
                                <input type="number" required name="noOfQuestions" matInput
                                    placeholder="Enter noOfQuestions" [(ngModel)]="QuizData.noOfQuestions">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-slide-toggle name="active" class="example-margin" [(ngModel)]="QuizData.active">
                        Publish status
                    </mat-slide-toggle>
                    <br>
                    <mat-form-field appearance="outline" class="w100 mt-4">
                        <mat-label>select category</mat-label>
                        <mat-select name="category" [(ngModel)]="QuizData.category.cid">
                            <mat-option *ngFor="let cat of categories"[value]="cat.cid">
                                {{cat.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="container text-center mb-4 mt-2">
                        <button  mat-raised-button color="accent">Add Quiz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>