/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ml20
{
    margin-left: 30px;
}
.mr20
{
    margin-right: 30px;
}
.f17
{
    font-size: 17px;
}
.mr30
{
    margin-right: 40px;
}
.ml15
{
    margin-left: 15px;
}
.w100
{
    width: 100%;
}